# Fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossier de l'environnement virtuel
venv/
env/

# Ancien dossier de collecte (legacy)
datasets/

# Données lourdes
data/images_extraites/**
!data/images_extraites/.gitkeep
!data/images_extraites/data_mining_*/
!data/images_extraites/data_mining_*/classes.txt

data/dataset/**
!data/dataset/.gitkeep
data/datasets_roboflow/**
!data/datasets_roboflow/.gitkeep
data/images_extraites.zip

# Modèles et runs
models/**
!models/.gitkeep
!models/apex_*/
!models/apex_*/.gitkeep
runs/
*.pt
*.engine
