# Fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossier de l'environnement virtuel
venv/
env/

# Données lourdes
data/derush/**
!data/derush/.gitkeep
data/images_extraites/**
!data/images_extraites/.gitkeep
!data/images_extraites/classes.txt
data/dataset/**
!data/dataset/.gitkeep
data/datasets_roboflow/**
!data/datasets_roboflow/.gitkeep
data/images_extraites.zip

# Modèles et runs
models/**
!models/.gitkeep
runs/
*.pt
*.engine
